	@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Roboto&family=Ubuntu:wght@300&display=swap'); 
	
	body {
		background-color: #1c110a;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	/*                  */
	/* TOP PART OF SITE */
	/*                  */
	.top {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 100px;
	}
	
	.top > h1 {
		margin-top: 100px;
		font-family: 'Merriweather', serif;
		color: #E9B44C;
		font-size: 72px;
	}
	
	.top > h2 {
		font-family: 'Ubuntu', sans-serif;
		color: #E9B44C;
		font-size: 20px;
	}
	
	#pfp {
		border-radius: 50%;
		width: 386px;
	}
	
	#about {
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
		color: #E4D6A7;
		text-align: center;
		margin-right: 200px;
		margin-left: 200px;
		line-height: 1.8;
	}
	
	.icon {
		margin: 10px;
	}
	
	.icon:hover {
		transform: scale(1.08);
		animation: wob .5s linear infinite;
		transition: 0.5s;
	}
	
	/*                     */
	/* TOP END             */
	/*                     */
	
	
	/*                     */
	/* MIDDLE PART OF SITE */
	/*                     */
	
	.middle {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 1200px;
	}
	
	.boxes {
		width: 555px;
		
	}
	
	#meetings > h1 {
		color: #9B2915;
		font-size: 48px;
		font-family: 'Merriweather', serif;
	}
	
	#meetings > h2 {
		letter-spacing: 4px;
		font-size: 18px;
		color: #f6c0b6;
		font-family: 'Roboto', sans-serif;
	}
	
	#resources > h2 {
		color: #9b2915;
		font-family: 'Ubuntu', sans-serif;
		font-size: 40px;
		line-height: 1.4;
	}
	
	#resources > p {
		color: #f6c0b6;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		line-height: 2;
	}
	
	.linktree {
		margin-top: 75px;
		display: flex;
		flex-direction: row;
		background-color: #f6c0b6;
		border-radius: 100px;
		border: 2px #9b2915 solid;
		width: 155px;
		text-decoration: none;
		color: #9b2915;
		letter-spacing: 2px;
		font-size: 17px;
	}
	
	.linktree > img {
		padding: 10px;
	}
	
	.linktree > p {
		font-family: 'Roboto', sans-serif;
	}
	
	.linktree:hover {
		transform: scale(1.08);
		animation: wob .5s linear infinite;
		transition: 0.5s;
	}
	
	/*                     */
	/* MIDDLE END          */
	/*                     */
	
	
	/*                     */
	/* BOTTOM PART OF SITE */
	/*                     */
	
	.bottom {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 1200px;
		text-align: center;
		margin-bottom: 70px;
		
	}
	
	.bottom > h1 {
		font-family: 'Merriweather', serif;
		color: #E9B44C;
		font-size: 48px;
	}
	
	.bottom > h3 {
		margin-top: 10px;
		color: #E9B44C;
		font-size: 25px;
		font-family: 'Ubuntu', sans-serif;
	}
	
	.gallery {
		display: flex;
		width: 1400px;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	
	.img {
		width: 350px;
		height: 350px;
		margin: 20px;
		border-radius: 50px;
		color: transparent;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
	}
	
	.img:hover {
		color: #E4D6A7;
		transition: all 0.3s ease 0s;
	}
	
	#one {
		background: url(img/1.PNG);
		background-size: cover;
	}
	
	#one:hover {
		background: rgba(0, 0, 0, .4) url(img/1.PNG);
		background-blend-mode: darken;
		transition: all 0.3s ease 0s;
		background-size: cover;
	}
	
	#two {
		background: url(img/2.PNG);
		background-size: cover;
	}
	
	#two:hover {
		background: rgba(0, 0, 0, .4) url(img/2.PNG);
		background-blend-mode: darken;
		transition: all 0.3s ease 0s;
		background-size: cover;
	}
	
	#three {
		background: url(img/3.PNG);
		background-size: cover;
	}
	
	#three:hover {
		background: rgba(0, 0, 0, .4) url(img/3.PNG);
		background-blend-mode: darken;
		transition: all 0.3s ease 0s;
		background-size: cover;
	}
	
	#four {
		background: url(img/4.PNG);
		background-size: cover;
	}
	
	#four:hover {
		background: rgba(0, 0, 0, .4) url(img/4.PNG);
		background-blend-mode: darken;
		transition: all 0.3s ease 0s;
		background-size: cover;
	}
	
	#five {
		background: url(img/5.PNG);
		background-size: cover;
	}
	
	#five:hover {
		background: rgba(0, 0, 0, .4) url(img/5.PNG);
		background-blend-mode: darken;
		transition: all 0.3s ease 0s;
		background-size: cover;
	}
	
	#six {
		background: url(img/6.PNG);
		background-size: cover;
	}
	
	#six:hover {
		background: rgba(0, 0, 0, .4) url(img/6.PNG);
		background-blend-mode: darken;
		transition: all 0.3s ease 0s;
		background-size: cover;
	}
	
	/*                     */
	/* BOTTOM END         */
	/*                     */
	
	.credits {
		text-align: center;
		color: #f6c0b6;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		line-height: 2px;
	}
